In [23]:
import numpy as np
import pandas as pd
import calendar, time
import datetime as dt
from datetime import date
import requests
from requests import get
import json

In [24]:
#Set date window to collect data

#Stock data interval
interval='1d'

#Set dates in YYYY-MM-DD format
end_date = '2020-06-24'
start_date = '2010-06-23'


#Stock Tickers
tickers = ['SPY','%5EVIX']

In [25]:
#Get Historical StockData From Yahoo Finance
def StockData(ticker, start_date, end_date = date.today(), interval = '1d'):
    #convert dates to epoch time which is how Yahoo stores its data
    start_date_epoch = calendar.timegm(time.strptime(str(start_date), '%Y-%m-%d'))
    end_date_epoch = calendar.timegm(time.strptime(str(end_date), '%Y-%m-%d'))
    
    #create the URL to download the historical data
    url = 'https://query1.finance.yahoo.com/v7/finance/download/' + ticker
    url = url + '?period1=' + str(start_date_epoch) + '&period2=' + str(end_date_epoch)
    url = url + '&interval=' + interval + '&events=history'
    
    #add and convert to a dataframe
    df = pd.read_csv(url)
    
    return df

In [26]:
ticker=tickers[1]
vix_df = StockData(ticker, start_date, end_date, interval)
vix_df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2010-06-23  26.930000  28.549999  26.540001  26.910000  26.910000       0
1  2010-06-24  27.610001  30.270000  27.530001  29.740000  29.740000       0
2  2010-06-25  29.639999  30.410000  28.070000  28.530001  28.530001       0
3  2010-06-28  29.200001  29.900000  28.469999  29.000000  29.000000       0
4  2010-06-29  31.219999  35.389999  31.219999  34.130001  34.130001       0

In [27]:
vix_df.to_pickle("vix.pickle")

### Following data not used for MVP###

In [12]:
ticker=tickers[0]

spy_df = StockData(ticker, start_date, end_date, interval)
spy_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-23,109.639999,110.029999,108.480003,109.230003,89.306648,254639900
1,2010-06-24,108.690002,108.830002,107.139999,107.419998,87.826813,268523600
2,2010-06-25,107.739998,108.419998,106.769997,107.870003,88.194740,238726500
3,2010-06-28,108.029999,108.320000,107.139999,107.529999,87.916763,169218600
4,2010-06-29,106.019997,107.510002,103.550003,104.209999,85.202293,373649500

In [13]:
spy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2518 non-null   object
 1   Open       2518 non-null   float64
 2   High       2518 non-null   float64
 3   Low        2518 non-null   float64
 4   Close      2518 non-null   float64
 5   Adj Close  2518 non-null   float64
 6   Volume     2518 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 137.8+ KB